Repository edaa-org/pyEDAA.Reports, pull requests merged in 2024-06, with the labels that each got.

#41 v0.10.0
  .github/workflows/Pipeline.yml
  doc/Dependency.rst
  doc/Unittesting/index.rst
  doc/index.rst
  doc/requirements.txt
  pyEDAA/Reports/CLI/Unittesting.py
  pyEDAA/Reports/OSVVM/AlertLog.py
  pyEDAA/Reports/Unittesting/JUnit/__init__.py
  pyEDAA/Reports/Unittesting/OSVVM.py
  pyEDAA/Reports/__init__.py
  pyproject.toml
  requirements.txt
  tests/data/OSVVM/OSVVMLibraries_RunAllTests.yml
  tests/data/OSVVM/TbAxi4_BasicReadWrite_alerts.yml
  tests/data/OSVVM/osvvm.Summary.yml
  tests/unit/Unittesting/Examples/OSVVM.py
  tests/unit/Unittesting/Examples/pyEDAAReports.py
  tests/vunit.json
  tests/vunit.osvr.yml
  tests/vunit.xml
Labels: Unit Testing, FileFormat: YAML, FileFormat: XML, Tool: OSVVM, Tool: pytest

#42 fetch googletest in the lib directory
  .github/workflows/Pipeline.yml
  examples/Cpp/GoogleTest/lib/CMakeLists.txt
  examples/Cpp/GoogleTest/lib/googletest/CMakeLists.txt
Labels: Unit Testing

#43 v0.11.0
  .github/workflows/Pipeline.yml
  doc/requirements.txt
  examples/Cpp/GoogleTest/lib/CMakeLists.txt
  examples/Cpp/GoogleTest/lib/googletest/CMakeLists.txt
  examples/Java/JUnit/build-github.xml
  pyEDAA/Reports/Unittesting/JUnit/__init__.py
  pyEDAA/Reports/__init__.py
  pyEDAA/Reports/resources/Generic-JUnit.xsd
  pyEDAA/Reports/resources/PyTest-JUnit.xsd
  pyproject.toml
  tests/data/JUnit/OsvvmLibraries/OSVVMLibraries_OsvvmLibraries.xml
  tests/data/JUnit/OsvvmLibraries/OSVVMLibraries_RunAllTests.xml
  tests/data/JUnit/pyVersioning/unittests.xml
  tests/data/OSVVM/OSVVMLibraries_OsvvmLibraries.yml
  tests/data/OSVVM/OSVVMLibraries_RunAllTests.yml
  tests/data/OSVVM/TbAxi4_BasicReadWrite_alerts.yml
  tests/data/OSVVM/TbAxi4_BasicReadWrite_cov.yml
  tests/data/OSVVM/TbAxi4_BasicReadWrite_run.yml
  tests/data/OSVVM/TbAxi4_BasicReadWrite_sb_slv.yml
  tests/data/OSVVM/TbAxi4_BasicReadWrite_settings.yml
  tests/unit/Unittesting/Examples/OSVVM.py
  tests/unit/Unittesting/Examples/pyVersioning.py
Labels: bug, enhancement, Unit Testing, FileFormat: XML, Tool: pytest
